.moments {
  padding-top: 70px;
  padding-bottom: 125px;
}
.moments__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.moments__desc {
  width: 500px;
  color: #6b6b6b;
}
.moments__sort {
  margin-bottom: 45px;
}
.moments__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 620px;
  width: 100%;
  align-items: flex-start;
}
.moments__images img {
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.5s;
}
.moments__images img:hover {
  transform: scale(1.1, 1.1);
}
.moments__images img:last-child {
  margin-top: -172px;
}
