.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 45px;
	color: #fefeff;
	background-color: #0c245d;
	font-family: "rubik-medium", Arial, sans-serif;
	font-size: 17px;
}