.main-menu {
	width: 45%;
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin: 0;
}

.main-menu__item {
	display: flex;
}

.main-menu__item a {
	height: 100%;
	width: 100px;
	font-family: "rubik-medium", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	color: #082362;
	padding-top: 40px;
	box-sizing: border-box;
	text-align: center;

	&:hover {
		background-color: #082362;
		color: white;
	}
}

.main-menu__item a:active {
	opacity: 0.4;
	text-decoration: none;
}

@media screen and (min-width: 350px) and (max-width: 800px) {
	.main-menu {
		width: 100%;
		display: block;
	}

	.main-menu__item {
		width: 100%;
		height: auto;
		border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	}

	.main-menu__item a {
		width: 100%;
		padding: 20px 0;
		text-align: center;
		height: auto;
		align-self: center;
		color: black;
	}

	.main-menu li:first-child {
		border-top: 1px solid rgba(0, 0, 0, 0.4);
	}

	.body .main-menu--mobile {
		height: 0;
		font-size: 0;
	}
}