.main-menu {
	width: 545px;
	display: flex;
	justify-content: space-between;
}

.main-menu__item a {
	font-family: "rubik-medium", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	color: #082362;
}
